/* default styles for a box */
.box {
  color: white;
  font-size: 100px;
  text-align: center;
  text-shadow: 4px 4px 0 rgba(0,0,0,0.1);
  padding: 10px;
}

/* colors for each box */
.box1 { background:#1abc9c;}
.box2 { background:#3498db;}
.box3 { background:#9b59b6;}
.box4 { background:#34495e;}
.box5 { background:#f1c40f;}
.box6 { background:#e67e22;}
.box7 { background:#e74c3c;}
.box8 { background:#bdc3c7;}
.box9 { background:#2ecc71;}
.box10 { background:#16a085;}


.container {
  display: flex;
  border: 10px solid goldenrod;
  min-height: 100vh;

  /*default of any flex container*/
  /*will stack right beside each other. Main axis from left to right. Cross axis from top to bottom. */
  flex-direction:row;
  /*reverses main axis*/
  /*flex-direction:row-reverse;*/

  /*will stack on top of each other. Main axis from top to bottom. Cross axis from left to right.*/
  flex-direction:column;
  /*reverses main axis*/
  /*flex-direction: column-reverse;*/
}
